img {
    width: 150px;
    border-radius: 75px;
    box-align: left;
    margin-left: 20%;
    margin-top: 5px;
    border: 4px solid #cccccc;
}

h1{
    text-align: center;
}

fieldset{
    width: 78%;
    float:right;
    margin-bottom: 10px;
    font-family: "Homer Simpson UIx";
}

legend{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

#principal {
    width: 80%;
    margin: auto;
}

#datos{
    width: 60%;
}

/* body{
    background-image: url(../img/fondoCV.jpg);
    background-size: cover;
} */
