body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScz-OG439tlwccvr7Uma0f6kDCa0IE0uucrf49-m75AqAU-KpI&usqp=CAU);
    background-position: center;
    background-color: indigo;
    /* background-repeat: repeat-y;
    background-size: cover; */
}
h1{
    color:whitesmoke;
    font-size: 80px;
}
h3{
    font-size: 50px;
}
h4 {
    font-size: 30px;
}
img{
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: indianred;
    padding: 50px;
    border: 10px double white;
    margin-left: auto;
    margin-right: auto;
    /* esto lo dejo comentado porque sino me caga desconfigurando la pagina. no me queda claro porque, lo lei en https://es.learnlayout.com/box-sizing.html */
    /* box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
}
#spanId {
    font-size: 18px;
    margin: 50px;
    color: yellow;
    font-weight: bold;
}
.divClass {
    text-align: center;
    /* box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
}