img {
    width: 200px;
    border-radius: 100px;
    box-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 4px solid #cccccc;
}

h1{
    text-align: center;
}

fieldset{
    margin-bottom: 10px;
    font-family: "Homer Simpson UIx";
    background-color: wheat;
}

legend{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    background-color: thistle;
}

#principal {
    width: 80%;
    margin: auto;
}

#datos{
    float: right;
    width: 75%
}

body{
    background-color: teal;
}